include ../utils/information/menu

footer
  .container
    .footer-menu
      .footer-menu-card
        p #{abstract__title}
        a #{abstract__menu[0]}
        a #{abstract__menu[1]}
        a #{abstract__menu[2]}
      .footer-menu-card
        p #{resources__title}
        a #{resources__menu[0]}
        a #{resources__menu[1]}
        a #{resources__menu[2]}
        a #{resources__menu[3]}
        a #{resources__menu[4]}
        a #{resources__menu[5]}
      .footer-menu-card
        p #{community__title}
        a #{community__menu[0]}
        a #{community__menu[1]}
        a #{community__menu[2]}
        a #{community__menu[3]}
        a #{community__menu[4]}
      .footer-menu-card
        p #{company__title}
        a #{company__menu[0]}
        a #{company__menu[1]}
        a #{company__menu[2]}